---
import Layout from "@/layouts/Layout.astro";
import Blog from "@/components/Blog/Blog.astro";
import "@/styles/globals.css";
import "@/styles/globals.sass";
---

<Layout title="Ival Shamkya">
  <main class="text-primary mt-[15%] md:mt-[7%]">
    <Blog />
  </main>
</Layout>
