---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/Projects/Projects.astro";
import "@/styles/globals.css";
import "@/styles/globals.sass";
---

<Layout title="Ival Shamkya">
  <main class="text-primary mt-[15%] md:mt-[7%]">
    <Projects />
  </main>
</Layout>
